In [43]:
import pandas as pd 
import numpy as np
import math

In [63]:
# 1. Find the start of the ball data
filename = 'CricSheet/odi_csv_male/225171.csv'
file = open(filename)
rows_to_skip = 0
nrows = 0
total_rows=0

for line in file:
    if not line.startswith('ball'):
        rows_to_skip += 1
    else:
        break
file.seek(0)

for line in file:
    if not line.startswith('2',5,6):
        nrows+=1
    total_rows+=1
file.seek(0)
nrows=nrows-rows_to_skip

# 2. Create the DataFrame
df1 = pd.read_csv(
    filepath_or_buffer = file,
    skiprows = rows_to_skip,
    names = ["Ball","Innings", "Balls", "Bat Team", "Batsman","Non_Striker","Bowler","BatsmanScore", "Extras", "Catch", "Catcher"],
    usecols = range(1,11),
    nrows=nrows
)

# 3. Modify columns
over_col = []
ball_col = []
for num in df1['Balls']:
    num1, num2 = str(num).split('.')
    over_col.append(num1)
    ball_col.append(num2)
df1['Over'] = over_col
df1['Ball'] = ball_col
df1.drop('Balls', axis=1, inplace=True)

ball=1
balls=[]
for i in df1['Ball']:
    balls.append(ball)
    ball+=1
df1['balls']=balls

df1['Runs'] = df1['BatsmanScore'].astype('int32') + df1['Extras'].astype('int32')

runs=0
run_sum=[]
for run in df1['Runs']:
    runs+=int(run)
    run_sum.append(runs)
df1['Total Runs'] = run_sum   
df1['Run rate'] = (df1['Total Runs']/df1['balls'])*6

wicket=0
wickets=[]
for out in df1['Catch']:
    if(not pd.isnull(out)):
        wicket+=1
    wickets.append(wicket)
df1['Wickets'] = wickets

run_sum5=0
runs5=[]
Runs= list(df1['Runs'])
Wickets= list(df1['Wickets'])
wicket_sum5=0
wickets5=[]
for i in range(len(Runs)):
    if(i<30):
        wickets5.append(Wickets[i])
        runs5.append(run_sum[i])
    else:
        wicket_sum5= np.sum(Wickets[i-29:i+1])
        wickets5.append(wicket_sum5)
        run_sum5= np.sum(Runs[i-29:i+1])
        runs5.append(run_sum5)
df1['RR_last_5']=runs5
df1['Wickets_last_5']=wickets5

In [65]:
rows_to_skip+=nrows

filename = 'CricSheet/odi_csv_male/225171.csv'
file = open(filename)

# 2. Create the DataFrame
df2 = pd.read_csv(
    filepath_or_buffer = file,
    skiprows = rows_to_skip,
    names = ["Ball","Innings", "Balls", "Bat Team", "Batsman","Non_Striker","Bowler","BatsmanScore", "Extras", "Catch", "Catcher"],
    usecols = range(1,11),
    nrows=nrows
)

# 3. Modify columns
over_col = []
ball_col = []
for num in df2['Balls']:
    num1, num2 = str(num).split('.')
    over_col.append(num1)
    ball_col.append(num2)
df2['Over'] = over_col
df2['Ball'] = ball_col
df2.drop('Balls', axis=1, inplace=True)

ball=1
balls=[]
for i in df2['Ball']:
    balls.append(ball)
    ball+=1
df2['balls']=balls

df2['Runs'] = df2['BatsmanScore'].astype('int32') + df2['Extras'].astype('int32')

runs=0
run_sum=[]
for run in df2['Runs']:
    runs+=int(run)
    run_sum.append(runs)
df2['Total Runs'] = run_sum   
df2['Run rate'] = (df2['Total Runs']/df2['balls'])*6

wicket=0
wickets=[]
for out in df2['Catch']:
    if(not pd.isnull(out)):
        wicket+=1
    wickets.append(wicket)
df2['Wickets'] = wickets


run_sum5=0
runs5=[]
Runs= list(df2['Runs'])
Wickets= list(df2['Wickets'])
wicket_sum5=0
wickets5=[]
for i in range(len(Runs)):
    if(i<30):
        wickets5.append(Wickets[i])
        runs5.append(run_sum[i])
    else:
        wicket_sum5= np.sum(Wickets[i-29:i+1])
        wickets5.append(wicket_sum5)
        run_sum5= np.sum(Runs[i-29:i+1])
        runs5.append(run_sum5)
df2['RR_last_5']=runs5
df2['Wickets_last_5']=Wickets

In [55]:
frames = [df1,df2]
df = pd.concat(frames)
team1 = df['Bat Team'].iloc[0]
team2 = df['Bat Team'].iloc[-1]
df['Bowl Team'] = [team2 if team == team1 else team1 for team in df['Bat Team']] # Python is cool
df['Game ID'] = filename[:-4]
df['Over'] = df['Over'].astype('int32')
df['Ball'] = df['Ball'].astype('int32')

In [47]:
display(df.head(100))
display(df.tail(100))

,Ball,Bat Team,Batsman,BatsmanScore,Bowler,Catch,Catcher,Extras,Innings,Non_Striker,Over,RR_last_5,Run rate,Runs,Total Runs,Wickets,Wickets_last_5,balls,Bowl Team,Game ID
0,1,England,ME Trescothick,0,DT Johnston,NaN,NaN,0,1,EC Joyce,0,0,0.000000,0,0,0,0.0,1,Ireland,CricSheet/odi_csv_male/225171
1,2,England,ME Trescothick,0,DT Johnston,NaN,NaN,0,1,EC Joyce,0,0,0.000000,0,0,0,0.0,2,Ireland,CricSheet/odi_csv_male/225171
2,3,England,ME Trescothick,0,DT Johnston,NaN,NaN,4,1,EC Joyce,0,4,8.000000,4,4,0,0.0,3,Ireland,CricSheet/odi_csv_male/225171
3,4,England,ME Trescothick,0,DT Johnston,NaN,NaN,2,1,EC Joyce,0,6,9.000000,2,6,0,0.0,4,Ireland,CricSheet/odi_csv_male/225171
4,5,England,ME Trescothick,0,DT Johnston,NaN,NaN,0,1,EC Joyce,0,6,7.200000,0,6,0,0.0,5,Ireland,CricSheet/odi_csv_male/225171
5,6,England,ME Trescothick,0,DT Johnston,NaN,NaN,0,1,EC Joyce,0,6,6.000000,0,6,0,0.0,6,Ireland,CricSheet/odi_csv_male/225171
6,1,England,EC Joyce,0,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,1,6,5.142857,0,6,0,0.0,7,Ireland,CricSheet/odi_csv_male/225171
7,2,England,EC Joyce,0,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,1,6,4.500000,0,6,0,0.0,8,Ireland,CricSheet/odi_csv_male/225171
8,3,England,EC Joyce,0,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,1,6,4.000000,0,6,0,0.0,9,Ireland,CricSheet/odi_csv_male/225171
9,4,England,EC Joyce,0,D Langford-Smith,NaN,NaN,1,1,ME Trescothick,1,7,4.200000,1,7,0,0.0,10,Ireland,CricSheet/odi_csv_male/225171
10,5,England,EC Joyce,1,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,1,8,4.363636,1,8,0,0.0,11,Ireland,CricSheet/odi_csv_male/225171
11,6,England,ME Trescothick,0,D Langford-Smith,NaN,NaN,0,1,EC Joyce,1,8,4.000000,0,8,0,0.0,12,Ireland,CricSheet/odi_csv_male/225171
12,7,England,ME Trescothick,1,D Langford-Smith,NaN,NaN,0,1,EC Joyce,1,9,4.153846,1,9,0,0.0,13,Ireland,CricSheet/odi_csv_male/225171
13,1,England,ME Trescothick,0,DT Johnston,NaN,NaN,1,1,EC Joyce,2,10,4.285714,1,10,0,0.0,14,Ireland,CricSheet/odi_csv_male/225171
14,2,England,ME Trescothick,0,DT Johnston,NaN,NaN,0,1,EC Joyce,2,10,4.000000,0,10,0,0.0,15,Ireland,CricSheet/odi_csv_male/225171
15,3,England,ME Trescothick,0,DT Johnston,NaN,NaN,1,1,EC Joyce,2,11,4.125000,1,11,0,0.0,16,Ireland,CricSheet/odi_csv_male/225171
16,4,England,EC Joyce,0,DT Johnston,NaN,NaN,0,1,ME Trescothick,2,11,3.882353,0,11,0,0.0,17,Ireland,CricSheet/odi_csv_male/225171
17,5,England,EC Joyce,1,DT Johnston,NaN,NaN,0,1,ME Trescothick,2,12,4.000000,1,12,0,0.0,18,Ireland,CricSheet/odi_csv_male/225171
18,6,England,ME Trescothick,0,DT Johnston,NaN,NaN,0,1,EC Joyce,2,12,3.789474,0,12,0,0.0,19,Ireland,CricSheet/odi_csv_male/225171
19,7,England,ME Trescothick,4,DT Johnston,NaN,NaN,0,1,EC Joyce,2,16,4.800000,4,16,0,0.0,20,Ireland,CricSheet/odi_csv_male/225171
20,1,England,EC Joyce,0,D Langford-Smith,NaN,NaN,1,1,ME Trescothick,3,17,4.857143,1,17,0,0.0,21,Ireland,CricSheet/odi_csv_male/225171
21,2,England,EC Joyce,0,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,3,17,4.636364,0,17,0,0.0,22,Ireland,CricSheet/odi_csv_male/225171
22,3,England,EC Joyce,4,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,3,21,5.478261,4,21,0,0.0,23,Ireland,CricSheet/odi_csv_male/225171
23,4,England,EC Joyce,0,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,3,21,5.250000,0,21,0,0.0,24,Ireland,CricSheet/odi_csv_male/225171
24,5,England,EC Joyce,0,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,3,21,5.040000,0,21,0,0.0,25,Ireland,CricSheet/odi_csv_male/225171
25,6,England,EC Joyce,0,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,3,21,4.846154,0,21,0,0.0,26,Ireland,CricSheet/odi_csv_male/225171
26,7,England,EC Joyce,0,D Langford-Smith,NaN,NaN,0,1,ME Trescothick,3,21,4.666667,0,21,0,0.0,27,Ireland,CricSheet/odi_csv_male/225171
27,1,England,ME Trescothick,4,DT Johnston,NaN,NaN,0,1,EC Joyce,4,25,5.357143,4,25,0,0.0,28,Ireland,CricSheet/odi_csv_male/225171
28,2,England,ME Trescothick,4,DT Johnston,NaN,NaN,0,1,EC Joyce,4,29,6.000000,4,29,0,0.0,29,Ireland,CricSheet/odi_csv_male/225171
29,3,England,ME Trescothick,3,DT Johnston,NaN,NaN,0,1,EC Joyce,4,32,6.400000,3,32,0,0.0,30,Ireland,CricSheet/odi_csv_male/225171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,England,ME Trescothick,4,JF Mooney,NaN,NaN,0,1,PD Collingwood,11,35,6.084507,4,72,2,37.0,71,Ireland,CricSheet/odi_csv_male/225171
71,2,England,ME Trescothick,0,JF Mooney,NaN,NaN,0,1,PD Collingwood,11,35,6.000000,0,72,2,38.0,72,Ireland,CricSheet/odi_csv_male/225171
72,3,England,ME Trescothick,0,JF Mooney,NaN,NaN,1,1,PD Collingwood,11,36,6.000000,1,73,2,39.0,73,Ireland,CricSheet/odi_csv_male/225171
73,4,England,ME Trescothick,0,JF Mooney,NaN,NaN,5,1,PD Collingwood,11,41,6.324324,5,78,2,40.0,74,Ireland,CricSheet/odi_csv_male/225171
74,5,England,ME Trescothick,0,JF Mooney,NaN,NaN,0,1,PD Collingwood,11,41,6.240000,0,78,2,41.0,75,Ireland,CricSheet/odi_csv_male/225171
75,6,England,ME Trescothick,0,JF Mooney,NaN,NaN,1,1,PD Collingwood,11,42,6.236842,1,79,2,42.0,76,Ireland,CricSheet/odi_csv_male/225171
76,7,England,PD Collingwood,0,JF Mooney,NaN,NaN,0,1,ME Trescothick,11,42,6.155844,0,79,2,43.0,77,Ireland,CricSheet/odi_csv_male/225171
77,8,England,PD Collingwood,0,JF Mooney,NaN,NaN,0,1,ME Trescothick,11,42,6.076923,0,79,2,44.0,78,Ireland,CricSheet/odi_csv_male/225171
78,1,England,ME Trescothick,0,KJ O'Brien,NaN,NaN,0,1,PD Collingwood,12,38,6.000000,0,79,2,45.0,79,Ireland,CricSheet/odi_csv_male/225171
79,2,England,ME Trescothick,0,KJ O'Brien,NaN,NaN,0,1,PD Collingwood,12,34,5.925000,0,79,2,46.0,80,Ireland,CricSheet/odi_csv_male/225171
80,3,England,ME Trescothick,2,KJ O'Brien,NaN,NaN,0,1,PD Collingwood,12,36,6.000000,2,81,2,47.0,81,Ireland,CricSheet/odi_csv_male/225171
81,4,England,ME Trescothick,1,KJ O'Brien,NaN,NaN,0,1,PD Collingwood,12,37,6.000000,1,82,2,48.0,82,Ireland,CricSheet/odi_csv_male/225171
82,5,England,PD Collingwood,0,KJ O'Brien,NaN,NaN,0,1,ME Trescothick,12,37,5.927711,0,82,2,49.0,83,Ireland,CricSheet/odi_csv_male/225171
83,6,England,PD Collingwood,0,KJ O'Brien,NaN,NaN,0,1,ME Trescothick,12,37,5.857143,0,82,2,50.0,84,Ireland,CricSheet/odi_csv_male/225171
84,1,England,ME Trescothick,4,JF Mooney,NaN,NaN,0,1,PD Collingwood,13,41,6.070588,4,86,2,51.0,85,Ireland,CricSheet/odi_csv_male/225171
85,2,England,ME Trescothick,0,JF Mooney,NaN,NaN,0,1,PD Collingwood,13,37,6.000000,0,86,2,52.0,86,Ireland,CricSheet/odi_csv_male/225171
86,3,England,ME Trescothick,0,JF Mooney,NaN,NaN,2,1,PD Collingwood,13,39,6.068966,2,88,2,53.0,87,Ireland,CricSheet/odi_csv_male/225171
87,4,England,PD Collingwood,0,JF Mooney,NaN,NaN,0,1,ME Trescothick,13,39,6.000000,0,88,2,54.0,88,Ireland,CricSheet/odi_csv_male/225171
88,5,England,PD Collingwood,4,JF Mooney,NaN,NaN,0,1,ME Trescothick,13,39,6.202247,4,92,2,55.0,89,Ireland,CricSheet/odi_csv_male/225171
89,6,England,PD Collingwood,0,JF Mooney,NaN,NaN,0,1,ME Trescothick,13,39,6.133333,0,92,2,56.0,90,Ireland,CricSheet/odi_csv_male/225171
90,7,England,PD Collingwood,0,JF Mooney,caught,PD Collingwood,0,1,ME Trescothick,13,37,6.065934,0,92,3,58.0,91,Ireland,CricSheet/odi_csv_male/225171
91,1,England,ME Trescothick,2,KJ O'Brien,NaN,NaN,0,1,IR Bell,14,39,6.130435,2,94,3,60.0,92,Ireland,CricSheet/odi_csv_male/225171
92,2,England,ME Trescothick,0,KJ O'Brien,NaN,NaN,0,1,IR Bell,14,38,6.064516,0,94,3,62.0,93,Ireland,CricSheet/odi_csv_male/225171
93,3,England,ME Trescothick,0,KJ O'Brien,NaN,NaN,0,1,IR Bell,14,34,6.000000,0,94,3,64.0,94,Ireland,CricSheet/odi_csv_male/225171
94,4,England,ME Trescothick,0,KJ O'Brien,NaN,NaN,0,1,IR Bell,14,34,5.936842,0,94,3,65.0,95,Ireland,CricSheet/odi_csv_male/225171
95,5,England,ME Trescothick,0,KJ O'Brien,NaN,NaN,0,1,IR Bell,14,31,5.875000,0,94,3,66.0,96,Ireland,CricSheet/odi_csv_male/225171
96,6,England,ME Trescothick,1,KJ O'Brien,NaN,NaN,0,1,IR Bell,14,31,5.876289,1,95,3,67.0,97,Ireland,CricSheet/odi_csv_male/225171
97,1,England,ME Trescothick,4,JF Mooney,NaN,NaN,0,1,IR Bell,15,32,6.061224,4,99,3,68.0,98,Ireland,CricSheet/odi_csv_male/225171
98,2,England,ME Trescothick,2,JF Mooney,NaN,NaN,0,1,IR Bell,15,33,6.121212,2,101,3,69.0,99,Ireland,CricSheet/odi_csv_male/225171
99,3,England,ME Trescothick,0,JF Mooney,NaN,NaN,0,1,IR Bell,15,33,6.060000,0,101,3,70.0,100,Ireland,CricSheet/odi_csv_male/225171

,Ball,Bat Team,Batsman,BatsmanScore,Bowler,Catch,Catcher,Extras,Innings,Non_Striker,Over,RR_last_5,Run rate,Runs,Total Runs,Wickets,Wickets_last_5,balls,Bowl Team,Game ID
215,2,Ireland,KJ O'Brien,0,SI Mahmood,NaN,NaN,0,2,AR White,33,22,4.305556,0,155,6,NaN,216,England,CricSheet/odi_csv_male/225171
216,3,Ireland,KJ O'Brien,0,SI Mahmood,NaN,NaN,0,2,AR White,33,20,4.285714,0,155,6,NaN,217,England,CricSheet/odi_csv_male/225171
217,4,Ireland,KJ O'Brien,0,SI Mahmood,NaN,NaN,0,2,AR White,33,20,4.266055,0,155,6,NaN,218,England,CricSheet/odi_csv_male/225171
218,5,Ireland,KJ O'Brien,0,SI Mahmood,NaN,NaN,0,2,AR White,33,20,4.246575,0,155,6,NaN,219,England,CricSheet/odi_csv_male/225171
219,6,Ireland,KJ O'Brien,1,SI Mahmood,NaN,NaN,0,2,AR White,33,21,4.254545,1,156,6,NaN,220,England,CricSheet/odi_csv_male/225171
220,1,Ireland,KJ O'Brien,2,JWM Dalrymple,NaN,NaN,0,2,AR White,34,22,4.289593,2,158,6,NaN,221,England,CricSheet/odi_csv_male/225171
221,2,Ireland,KJ O'Brien,0,JWM Dalrymple,NaN,NaN,0,2,AR White,34,20,4.270270,0,158,6,NaN,222,England,CricSheet/odi_csv_male/225171
222,3,Ireland,KJ O'Brien,1,JWM Dalrymple,NaN,NaN,0,2,AR White,34,21,4.278027,1,159,6,NaN,223,England,CricSheet/odi_csv_male/225171
223,4,Ireland,AR White,0,JWM Dalrymple,NaN,NaN,0,2,KJ O'Brien,34,20,4.258929,0,159,6,NaN,224,England,CricSheet/odi_csv_male/225171
224,5,Ireland,AR White,4,JWM Dalrymple,NaN,NaN,0,2,KJ O'Brien,34,24,4.346667,4,163,6,NaN,225,England,CricSheet/odi_csv_male/225171
225,6,Ireland,AR White,0,JWM Dalrymple,NaN,NaN,0,2,KJ O'Brien,34,24,4.327434,0,163,6,NaN,226,England,CricSheet/odi_csv_male/225171
226,1,Ireland,KJ O'Brien,0,LE Plunkett,NaN,NaN,0,2,AR White,35,24,4.308370,0,163,6,NaN,227,England,CricSheet/odi_csv_male/225171
227,2,Ireland,KJ O'Brien,0,LE Plunkett,NaN,NaN,0,2,AR White,35,23,4.289474,0,163,6,NaN,228,England,CricSheet/odi_csv_male/225171
228,3,Ireland,KJ O'Brien,0,LE Plunkett,NaN,NaN,0,2,AR White,35,23,4.270742,0,163,6,NaN,229,England,CricSheet/odi_csv_male/225171
229,4,Ireland,KJ O'Brien,0,LE Plunkett,NaN,NaN,0,2,AR White,35,23,4.252174,0,163,6,NaN,230,England,CricSheet/odi_csv_male/225171
230,5,Ireland,KJ O'Brien,1,LE Plunkett,NaN,NaN,0,2,AR White,35,24,4.259740,1,164,6,NaN,231,England,CricSheet/odi_csv_male/225171
231,6,Ireland,AR White,0,LE Plunkett,NaN,NaN,0,2,KJ O'Brien,35,23,4.241379,0,164,6,NaN,232,England,CricSheet/odi_csv_male/225171
232,1,Ireland,KJ O'Brien,0,IR Bell,NaN,NaN,0,2,AR White,36,22,4.223176,0,164,6,NaN,233,England,CricSheet/odi_csv_male/225171
233,2,Ireland,KJ O'Brien,1,IR Bell,NaN,NaN,0,2,AR White,36,23,4.230769,1,165,6,NaN,234,England,CricSheet/odi_csv_male/225171
234,3,Ireland,AR White,0,IR Bell,NaN,NaN,0,2,KJ O'Brien,36,23,4.212766,0,165,6,NaN,235,England,CricSheet/odi_csv_male/225171
235,4,Ireland,AR White,1,IR Bell,NaN,NaN,0,2,KJ O'Brien,36,24,4.220339,1,166,6,NaN,236,England,CricSheet/odi_csv_male/225171
236,5,Ireland,KJ O'Brien,0,IR Bell,NaN,NaN,0,2,AR White,36,24,4.202532,0,166,6,NaN,237,England,CricSheet/odi_csv_male/225171
237,6,Ireland,KJ O'Brien,0,IR Bell,NaN,NaN,0,2,AR White,36,20,4.184874,0,166,6,NaN,238,England,CricSheet/odi_csv_male/225171
238,1,Ireland,AR White,1,LE Plunkett,NaN,NaN,0,2,KJ O'Brien,37,20,4.192469,1,167,6,NaN,239,England,CricSheet/odi_csv_male/225171
239,2,Ireland,KJ O'Brien,2,LE Plunkett,NaN,NaN,0,2,AR White,37,22,4.225000,2,169,6,NaN,240,England,CricSheet/odi_csv_male/225171
240,3,Ireland,KJ O'Brien,4,LE Plunkett,NaN,NaN,0,2,AR White,37,22,4.307054,4,173,6,NaN,241,England,CricSheet/odi_csv_male/225171
241,4,Ireland,KJ O'Brien,1,LE Plunkett,NaN,NaN,0,2,AR White,37,22,4.314050,1,174,6,NaN,242,England,CricSheet/odi_csv_male/225171
242,5,Ireland,AR White,0,LE Plunkett,NaN,NaN,0,2,KJ O'Brien,37,21,4.296296,0,174,6,NaN,243,England,CricSheet/odi_csv_male/225171
243,6,Ireland,AR White,0,LE Plunkett,NaN,NaN,1,2,KJ O'Brien,37,21,4.303279,1,175,6,NaN,244,England,CricSheet/odi_csv_male/225171
244,1,Ireland,AR White,4,IR Bell,NaN,NaN,0,2,KJ O'Brien,38,24,4.383673,4,179,6,NaN,245,England,CricSheet/odi_csv_male/225171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,5,Ireland,D Langford-Smith,1,IR Bell,NaN,NaN,1,2,JF Mooney,44,32,4.552448,2,217,8,NaN,286,England,CricSheet/odi_csv_male/225171
286,6,Ireland,JF Mooney,6,IR Bell,NaN,NaN,0,2,D Langford-Smith,44,37,4.662021,6,223,8,NaN,287,England,CricSheet/odi_csv_male/225171
287,7,Ireland,JF Mooney,2,IR Bell,NaN,NaN,0,2,D Langford-Smith,44,35,4.687500,2,225,8,NaN,288,England,CricSheet/odi_csv_male/225171
288,1,Ireland,D Langford-Smith,1,JWM Dalrymple,NaN,NaN,0,2,JF Mooney,45,35,4.692042,1,226,8,NaN,289,England,CricSheet/odi_csv_male/225171
289,2,Ireland,JF Mooney,3,JWM Dalrymple,NaN,NaN,0,2,D Langford-Smith,45,37,4.737931,3,229,8,NaN,290,England,CricSheet/odi_csv_male/225171
290,3,Ireland,D Langford-Smith,2,JWM Dalrymple,NaN,NaN,0,2,JF Mooney,45,38,4.762887,2,231,8,NaN,291,England,CricSheet/odi_csv_male/225171
291,4,Ireland,D Langford-Smith,2,JWM Dalrymple,NaN,NaN,0,2,JF Mooney,45,37,4.787671,2,233,8,NaN,292,England,CricSheet/odi_csv_male/225171
292,5,Ireland,D Langford-Smith,2,JWM Dalrymple,NaN,NaN,0,2,JF Mooney,45,35,4.812287,2,235,8,NaN,293,England,CricSheet/odi_csv_male/225171
293,6,Ireland,D Langford-Smith,0,JWM Dalrymple,stumped,D Langford-Smith,0,2,JF Mooney,45,34,4.795918,0,235,9,NaN,294,England,CricSheet/odi_csv_male/225171
294,1,Ireland,JF Mooney,0,LE Plunkett,NaN,NaN,0,2,PJK Mooney,46,34,4.779661,0,235,9,NaN,295,England,CricSheet/odi_csv_male/225171
295,2,Ireland,JF Mooney,2,LE Plunkett,NaN,NaN,0,2,PJK Mooney,46,35,4.804054,2,237,9,NaN,296,England,CricSheet/odi_csv_male/225171
296,3,Ireland,JF Mooney,4,LE Plunkett,NaN,NaN,0,2,PJK Mooney,46,35,4.868687,4,241,9,NaN,297,England,CricSheet/odi_csv_male/225171
297,4,Ireland,JF Mooney,1,LE Plunkett,NaN,NaN,0,2,PJK Mooney,46,36,4.872483,1,242,9,NaN,298,England,CricSheet/odi_csv_male/225171
298,5,Ireland,PJK Mooney,2,LE Plunkett,NaN,NaN,0,2,JF Mooney,46,37,4.896321,2,244,9,NaN,299,England,CricSheet/odi_csv_male/225171
299,6,Ireland,PJK Mooney,1,LE Plunkett,NaN,NaN,0,2,JF Mooney,46,37,4.900000,1,245,9,NaN,300,England,CricSheet/odi_csv_male/225171
300,1,Ireland,PJK Mooney,1,SJ Harmison,NaN,NaN,0,2,JF Mooney,47,38,4.903654,1,246,9,NaN,301,England,CricSheet/odi_csv_male/225171
301,2,Ireland,JF Mooney,0,SJ Harmison,NaN,NaN,0,2,PJK Mooney,47,37,4.887417,0,246,9,NaN,302,England,CricSheet/odi_csv_male/225171
302,3,Ireland,JF Mooney,0,SJ Harmison,NaN,NaN,0,2,PJK Mooney,47,37,4.871287,0,246,9,NaN,303,England,CricSheet/odi_csv_male/225171
303,4,Ireland,JF Mooney,1,SJ Harmison,NaN,NaN,0,2,PJK Mooney,47,37,4.875000,1,247,9,NaN,304,England,CricSheet/odi_csv_male/225171
304,5,Ireland,PJK Mooney,1,SJ Harmison,NaN,NaN,0,2,JF Mooney,47,38,4.878689,1,248,9,NaN,305,England,CricSheet/odi_csv_male/225171
305,6,Ireland,JF Mooney,1,SJ Harmison,NaN,NaN,0,2,PJK Mooney,47,39,4.882353,1,249,9,NaN,306,England,CricSheet/odi_csv_male/225171
306,1,Ireland,JF Mooney,0,LE Plunkett,NaN,NaN,0,2,PJK Mooney,48,39,4.866450,0,249,9,NaN,307,England,CricSheet/odi_csv_male/225171
307,2,Ireland,JF Mooney,0,LE Plunkett,NaN,NaN,0,2,PJK Mooney,48,37,4.850649,0,249,9,NaN,308,England,CricSheet/odi_csv_male/225171
308,3,Ireland,JF Mooney,2,LE Plunkett,NaN,NaN,0,2,PJK Mooney,48,38,4.873786,2,251,9,NaN,309,England,CricSheet/odi_csv_male/225171
309,4,Ireland,JF Mooney,1,LE Plunkett,NaN,NaN,0,2,PJK Mooney,48,39,4.877419,1,252,9,NaN,310,England,CricSheet/odi_csv_male/225171
310,5,Ireland,PJK Mooney,1,LE Plunkett,NaN,NaN,0,2,JF Mooney,48,39,4.881029,1,253,9,NaN,311,England,CricSheet/odi_csv_male/225171
311,6,Ireland,JF Mooney,1,LE Plunkett,NaN,NaN,0,2,PJK Mooney,48,40,4.884615,1,254,9,NaN,312,England,CricSheet/odi_csv_male/225171
312,1,Ireland,JF Mooney,1,SJ Harmison,NaN,NaN,0,2,PJK Mooney,49,41,4.888179,1,255,9,NaN,313,England,CricSheet/odi_csv_male/225171
313,2,Ireland,PJK Mooney,4,SJ Harmison,NaN,NaN,0,2,JF Mooney,49,45,4.949045,4,259,9,NaN,314,England,CricSheet/odi_csv_male/225171
314,3,Ireland,PJK Mooney,1,SJ Harmison,NaN,NaN,0,2,JF Mooney,49,45,4.952381,1,260,9,NaN,315,England,CricSheet/odi_csv_male/225171

In [34]:
indi_wicket

[]